.header{
    height:44px; width:100%; overflow:hidden; background-color:#f5f5f5; font-size:16px;display:flex;text-align:center; justify-content:center;align-items:center;
    .leftBtn,
    .rightBtn,
    &>a{display:block;position:absolute; top:0; width:44px; height:44px; overflow:hidden; text-align:center; font-size:14px; line-height:44px;color:#666;}
    .leftBtn{left:0;}
    .rightBtn{right:0;}
}